@media only screen and (max-width:800px) {
.menu-navbar {
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
    display: flex;
    width: 100%;
    padding-top: 8em;
    

    i {
        
        font-size: 18px;
    }

    ul {
        flex: 1;
        text-align: center;
    }

    li {
        display: inline-block;
        margin:1em 0.5em;
    }

    a {
        color: black;
        padding: 14px 16px;
    }

  }
}  